<div class="container">
  <div class="personal-list-wrapper" *ngIf="user$ | async as user">
    <div
      style="background-image: url('{{ user.avatarUrl }}');"
      class="avatar"
    ></div>
    <div class="name">{{ user.name }}</div>
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
      <mat-tab label="記事一覧">
        <ng-container *ngFor="let post of posts$ | async; index as i">
          <app-card [post]="post" [index]="i"></app-card>
        </ng-container>
      </mat-tab>
      <mat-tab label="カレンダー">
        <ng-container *ngIf="posts$ | async as posts">
          <app-carendar [posts]="posts"></app-carendar>
        </ng-container>
      </mat-tab>
      <mat-tab label="いいね">
        <ng-container *ngFor="let post of likedPosts$ | async; index as i">
          <app-card [post]="post" [index]="i"></app-card>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
