@import 'variables';

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__items {
    text-align: center;
    margin-bottom: 16px;
  }
  &__text {
    margin-bottom: 24px;
  }
  &__main {
    font-weight: 700;
    font-size: 96px;
    color: $color-base;
  }
}
