<div class="not-found">
  <div class="not-found__items">
    <h1 class="not-found__main">404</h1>
    <p class="not-found__text">
      すいません！お探しのページは見つかりませんでした。
    </p>
    <div class="not-found__under">
      <ng-template #notLoggedIn>
        <button mat-button>
          <a routerLink="/">Topに戻る</a>
        </button>
      </ng-template>
      <ng-container *ngIf="authService.user$ | async as user; else notLoggedIn">
        <button mat-button>
          <a routerLink="/home">ホームに戻る</a>
        </button>
      </ng-container>
    </div>
  </div>
</div>
