@import 'mixins';
@import 'variables';

.header {
  color: $color-base;
  padding: 24px;
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  background-color: #5cc0ef;
  justify-content: center;
  //   background-color: $color-base;
  &__search {
    color: white;
    font-size: 24px;
  }
  &__logo {
    margin: 0 auto;
    font-size: 24px;
    color: white;
  }
  //   &__logo-inner {
  //   }
  &__logo-icon {
    padding: 16px;
    display: block;
    height: 100%;
  }
  &__avatar {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 64px;
    background-size: cover;
  }
}
