<div class="header">
  <div class="header__logo">
    <div class="header__logo-inner">
      <a routerLink="/">Locus</a>
    </div>
  </div>
  <ng-template #notLogin>
    <button class="header__login" mat-raised-button>
      <a routerLink="/login">ログインページへ</a>
    </button>
  </ng-template>

  <ng-container *ngIf="authService.user$ | async as user; else notLogin">
    <button
      class="header__avatar"
      mat-icon-button
      style="background-image: url('{{ user.avatarUrl }}');"
      [matMenuTriggerFor]="menu"
    ></button>

    <mat-menu #menu="matMenu" xPosition="before" class="header__menu">
      <button mat-menu-item>
        <mat-icon>note_add</mat-icon>
        <span>マイページ</span>
      </button>
      <button mat-menu-item>
        <mat-icon>note_add</mat-icon>
        <span>設定</span>
      </button>
      <button (click)="authService.logout()" mat-menu-item>
        <mat-icon>note_add</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>
</div>
