<section class="hero">
  <div class="welcome-container">
    <div class="hero__content">
      <div class="hero__main">
        <h1 class="hero__logo">Locus</h1>
        <p class="hero__description">
          あなたの勉強の軌跡を記録して<br />みんなと共有しよう！
        </p>
        <button
          routerLink="/login"
          class="login-button is-pc"
          mat-flat-button
          color="primary"
        >
          ログインして始める
        </button>
      </div>
      <figure class="hero__imgs">
        <img src="/assets/images/taking.svg" alt="" />
      </figure>
      <button
        routerLink="/login"
        class="login-button is-sp"
        mat-flat-button
        color="primary"
      >
        ログインして始める
      </button>
    </div>
  </div>
</section>

<section class="about">
  <div class="welcome-container">
    <h2 class="about__title">What is Locus</h2>
    <figure class="about__img">
      <img src="/assets/images/iphone-mock.svg" alt="" />
    </figure>
    <p class="about__text">
      Locusにその日の学習記録を残して、<br
        class="is-sp"
      />あなたの成長の軌跡をのこしましょう！
    </p>
  </div>
</section>

<section class="message">
  <div class="welcome-container">
    <div class="message__content">
      <p class="message__text">
        優秀な人の学習記録をみれば、<br class="is-sp" />求める答えへの近道が<br
          class="is-pc"
        />みつかります！
      </p>
      <img src="/assets/images/book.svg" alt="" />
    </div>
    <div class="message__content">
      <p class="message__text">
        採用者に日々の学習姿勢を伝えることに<br />ぴったりのツールです
      </p>
      <img src="/assets/images/usability.svg" alt="" />
    </div>
  </div>
</section>

<section class="start">
  <div class="welcome-container">
    <p class="start__text">さあ始めましょう！</p>
    <button class="login-button" mat-flat-button color="primary">
      ログインして始める
    </button>
    <figure class="start__img">
      <img src="/assets/images/going.svg" alt="" />
    </figure>
  </div>
</section>
