<div class="container">
  <h2 class="settings-heading">アカウント設定</h2>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="プロフィール">
      <div class="settings">
        <form>
          <mat-form-field class="settings__form" appearance="fill">
            <mat-label>名前</mat-label>
            <input autocomplete="off" matInput />
          </mat-form-field>

          <button class="settings__button" mat-flat-button color="primary">
            変更する
          </button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="退会">Content 2</mat-tab>
  </mat-tab-group>
</div>
