@import 'variables';

.settings-heading {
  text-align: center;
  margin: 40px 0;
}

mat-form-field {
  display: block;
}

.settings {
  text-align: center;
  &__image {
    border-radius: 50%;
    overflow: hidden;
    width: 184px;
    height: 184px;
    margin: 40px auto;
  }
  &__form {
    margin-bottom: 40px;
  }
  &__coments {
    margin: 40px 0;
    text-align: left;
  }
  &__button {
    background: $color-base;
    &--delete {
      background: $color-warn;
    }
  }
}
